about-time==3.1.1
agate==1.9.1
alive-progress==2.3.1
analytics-python==1.4.post1
attrs==24.2.0
azure-core==1.30.1
azure-storage-blob==12.20.0
babel==2.16.0
backoff==1.10.0
beautifulsoup4==4.12.3
betterproto==1.2.5
boto3==1.34.108
botocore==1.34.108
cachetools==5.3.1
certifi==2024.8.30
cffi==1.15.1
charset-normalizer==3.4.0
click==8.1.3
colorama==0.4.6
cryptography==42.0.7
daff==1.3.46
db-dtypes==1.3.0
dbt-adapters==1.7.0
dbt-bigquery==1.8.2
dbt-common==1.10.0
dbt-core==1.8.7
dbt-extractor==0.5.1
dbt-postgres==1.8.2
dbt-semantic-interfaces==0.5.1
deepdiff==7.0.1
elementary-data==0.15.1
exceptiongroup==1.2.1
future==0.18.3
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-bigquery==3.11.4
google-cloud-core==2.3.3
google-cloud-dataproc==5.4.3
google-cloud-storage==2.10.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.60.0
grapheme==0.6.0
grpc-google-iam-v1==0.12.6
grpcio==1.57.0
grpcio-status==1.57.0
grpclib==0.4.5
h2==4.1.0
hologram==0.0.16
hpack==4.0.0
hyperframe==6.0.1
idna==3.10
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
isodate==0.6.1
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
leather==0.4.0
Logbook==1.5.3
MarkupSafe==3.0.1
mashumaro==3.13.1
minimal-snowplow-tracker==0.0.2
monotonic==1.6
more-itertools==8.14.0
msgpack==1.1.0
multidict==6.0.4
networkx==2.8.8
numpy==1.26.4
ordered-set==4.1.0
packaging==23.1
pandas==2.2.2
parsedatetime==2.6
pathspec==0.12.1
pluggy==1.5.0
posthog==2.5.0
proto-plus==1.22.3
protobuf==4.25.5
psycopg2-binary==2.9.7
pyarrow==17.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.13
pyfiglet==0.8.post1
pymsteams==0.2.2
pyrsistent==0.19.3
pytest==8.2.0
pytest-parametrization==2022.2.1
python-dateutil==2.8.2
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.2
PyYAML==6.0.1
ratelimit==2.2.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.1
six==1.16.0
slack_sdk==3.27.2
soupsieve==2.5
sqlparse==0.5.1
stringcase==1.2.0
tabulate==0.9.0
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
Werkzeug==2.3.7
yachalk==0.1.5
zipp==3.17.0
