name: Dalgo CD

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps: 
      - name: Deploy code to EC2 server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVERIP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          command_timeout: 500s
          script: |
            set -e
            source ~/.nvm/nvm.sh
            cd /home/ddp/DDP_backend
            current_branch=$(git rev-parse --abbrev-ref HEAD)
            if [ "$current_branch" != "main" ]; then
              echo "Error: You are not on the main branch. Current branch is $current_branch."
              exit 1
            fi
            git pull
            uv run python manage.py migrate
            uv run python manage.py loaddata seed/*.json
            /home/ddp/.yarn/bin/pm2 restart django-celery-worker django-backend-asgi
            