name: Dalgo CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: ddp
          POSTGRES_PASSWORD: ${{ secrets.CI_DBPASSWORD }}
          POSTGRES_DB: ${{ secrets.CI_DBNAME }}
        ports:
          - 5432:5432
        options: --health-cmd "pg_isready -U ddp" --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      matrix:
        python-version: ["3.10"] # we should tighten this to work with multiple versions of python
        redis-version: [6]

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run pre-commit
        run: pre-commit run --all-files

      - name: Start Redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: ${{ matrix.redis-version }}
          
      - name: Create logs directory
        run: mkdir -p ddpui/logs

      - name: Create whitelist.py
        run: cp ddpui/assets/whitelist.template.py ddpui/assets/whitelist.py

      - name: Apply database migrations  
        env:
          DBHOST: localhost
          DBPORT: 5432
          DBNAME: ${{ secrets.CI_DBNAME }}
          DBUSER: ddp
          DBPASSWORD: ${{ secrets.CI_DBPASSWORD }}
        run: |
          python manage.py migrate

      - name: Test with pytest
        env:
          AIRBYTE_SERVER_HOST: localhost
          AIRBYTE_SERVER_PORT: 8001
          AIRBYTE_SERVER_APIVER: v1
          AIRBYTE_API_TOKEN: ${{ secrets.AIRBYTE_API_TOKEN }}
          DBHOST: localhost
          DBPORT: 5432
          DBNAME: ${{ secrets.CI_DBNAME }}
          DBUSER: ddp
          DBPASSWORD: ${{ secrets.CI_DBPASSWORD }}
          PREFECT_PROXY_API_URL: http://localhost:8080
          DEV_SECRETS_DIR: /tmp/
          CLIENTDBT_ROOT: /tmp
        run: |
          coverage run -m pytest --ignore=ddpui/tests/integration_tests --durations=20
          coverage xml
          coverage report --fail-under=70

      - name: Upload coverage reports to codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

      - name: Check coverage percentage
        run: |
          coverage_percentage=$(coverage report --show-missing | tail -n 1 | awk '{print $4}')
          if (( $(echo "$coverage_percentage < 70" | bc -l) )); then
            echo "Coverage percentage is below 70%"
            exit 1
          fi