name: DDP backend deployment

on:
  push:
    branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps: 
            - name: Create known_hosts file
              run: |
                mkdir -p ~/.ssh
                touch ~/.ssh/known_hosts
            - name: Add remote host key to known_hosts
              run: ssh-keyscan ${{ secrets.SERVERIP }} >> ~/.ssh/known_hosts
            - name: Deploy to EC2
              run: |
                eval `ssh-agent -s`
                ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"
                
                ssh ${{ secrets.SERVER }} "
                  source ~/.nvm/nvm.sh; 
                  cd /home/ddp/DDP_backend;         
                  git pull;              
                  python manage.py migrate;  
                  /home/ddp/.yarn/bin/pm2 restart django-celery-worker django-backend"
